.NavbarMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #086788;
    padding: 10px;
  }
  
  .TitleMobile {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #030303;
  }

  .TitleMobile:hover{
    color: #f2f2f2;
    transition: 0.6s;
    transform: scale(1.1);
  }
  
  .NavContainerMobile {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #086788;
    padding: 10px;
    z-index: 1;
  }
  
  .active {
    display: block;
  }
  
  .ulNavMobile {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .liNavMobile {
    margin-bottom: 10px;
  }
  
  .itemNavMobile {
    display: block;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #030303;
    font-weight: 700;
    font-size: 1em;
  }
  
  .itemNavMobile:hover{
    color: #f1f1f1;
    transform: translateY(-1.5px);
    transition: 0.8s;
  }
  
  .MenuButton {
    display: inline-block;
    background: none;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .MenuButtonIcon {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #030303;
    position: relative;
  }
  
  .MenuButtonIcon::before,
  .MenuButtonIcon::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #030303;
  }
  
  .MenuButtonIcon::before {
    top: -6px;
    right: 0px;
  }
  
  .MenuButtonIcon::after {
    bottom: -6px;
    right: 0px;
  }
  
  .active .MenuButtonIcon {
    background-color: transparent;
  }
  
  .active .MenuButtonIcon::before {
    transform: rotate(45deg);
    top: 0;
  }
  
  .active .MenuButtonIcon::after {
    transform: rotate(-45deg);
    bottom: 0;
  }