
.cardContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 27vw;
    height: 200px;
    gap: 15px;
    background-color: #bdbdbd;
    padding-left: 30px;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 150px;
    height: 150px;
}