.cardContainer{
    display: block;
    width: 17.2vw;
    height: 400px;
    background-color: #ffffff;  
    border-radius: 15px;
    border: 2px solid #086788;
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.5);
    margin-top: 25px;
}

.cardContainer:hover{
    box-shadow: 3px 2px 3px 2px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
    transition: 0.7s;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 160px;
    border-radius: 20px;
    cursor: pointer;
    margin: auto;
}

.textContainer{
    display: inline;
}

.nameContainer{
    font-weight: 700;
    font-size: .9em;
    padding: 5px;
    text-align: center;
}

.categoryContainer{
    font-size: .7em;
}

.priceContainer{
    font-size: 2em;
    margin: 0;
}

.positionContainer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.positionContainerImg{
    position: flex;
    justify-content: center;
    align-items: center;
}

.Btn{
    color: rgb(0, 0, 0);
    background-color: #07a0c3;
    padding: 5px;
    margin: 3px;
    border-radius: 20px;
    font-size: .9em;
    font-family: sans-serif;
    font-weight: 700;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    gap: 60px;
    text-decoration: none;
    border: 2px solid #0885a1;
}

.Btn:hover{
    color: rgb(255, 255, 255);
    background-color: #06596b;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.8);
}

/* Media */

@media (max-width: 1352px){
    .cardContainer{
        width:30vw;
        height:350;
    }
    .imgContainer{
        height: 180px;
    }
 }
@media (max-width:670px){
    .cardContainer{
        width: 40vw;
        margin: auto;
    }
}

@media (max-width: 500px){
    .cardContainer{
        width: 70vw;
        margin: auto;
        margin-bottom: 30px;
    }
}


