.containerMain{
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
}

@media (max-width: 1352px){
    .containerMain{
     grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width:1025px){
    .containerMain{ 
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}


@media (max-width:670px){
    .containerMain{ 
      grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:500px){
    .containerMain{ 
        display: block;
    }
}